<div class="experience">
  <h2 id="experience"><i style="font-size: 27px;" class="fa">&#xf0b1;</i>&nbsp;
    Experience</h2>

  <ul id='timeline'>
    <li class='work'>
      <input class='radio' id='work5' name='works' type='radio' checked>
      <div class="relative">
        <label for='work5'>Computer Vision Engineer  &nbsp;|&nbsp;  Lely Technologies, Netherlands</label>
        <span class='date'>Feb 2022 - Present</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Full-time internship for 5 months, focusing on the image stitching on multi-cameras with multi-depth
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work4' name='works' type='radio'>
      <div class="relative">
        <label for='work4'>Lead Robotics Navigation Engineer &nbsp;|&nbsp; YES! Delft, Netherlands</label>
        <span class='date'>Feb 2022 - Present</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Part-time internship for 6 months, focusing on the autonomous navigation function for Spot robots
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work1' name='works' type='radio' >
      <div class="relative">
        <label for='work1'>Control Engineer  &nbsp;|&nbsp;  ROKAE Robotics, China</label>
        <span class='date'>Jul 2021 - Sep 2021</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Lely
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work2' name='works' type='radio' >
      <div class="relative">
        <label for='work2'>Research  Assistant &nbsp;|&nbsp; SUSTech Institute of Robotics, China</label>
        <span class='date'>Jun 2019 - Dec 2019</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Lely
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work3' name='works' type='radio' >
      <div class="relative">
        <label for='work3'>Mechanical Engineer &nbsp;|&nbsp; Milebot Robotics, China</label>
        <span class='date'>Jun 2019 - Aug 2019</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Lely
        </p>
      </div>
    </li>
  
  
  </ul>
</div>
