<ul id='timeline'>
  <li class='work'>
    <input class='radio' id='work5' name='works' type='radio' checked>
    <div class="relative">
      <label for='work5'>卡卡网正式开通</label>
      <span class='date'>2009年5月</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        卡卡网（www.webkaka.com）建立于2009年5月，本站旨在为广大网站建设人员提供专业的网站测速和优化服务，以及为广大网民提供网络速度测试服务。
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work4' name='works' type='radio'>
    <div class="relative">
      <label for='work4'>卡卡网当日独立IP首次超过2000</label>
      <span class='date'>2009年8月</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        卡卡网建立于2009年5月，本站旨在为广大网站建设人员提供专业的网站测速和优化服务，以及为广大网民提供网络速度测试服务。
      </p>
    </div>
  </li>
</ul>