<section class="home-section wg-projects">

  <h2 id="pro"> Featured Projects </h2>
  <span class="d-none default-project-filter">.js-id-Featured💡</span>
  <div class="project-toolbar">
    <div class="project-filters">
      <div class="btn-toolbar">
        <div id="filters" class="btn-group">
          <a href="##" data-filter="*" class="btn btn-success btn-sm">All💡</a>
          <a href="##" data-filter=".js-id-Robotics" class="btn btn-success
            btn-sm">Robotics</a>
          <a href="##" data-filter=".js-id-Machine-Learning" class="btn
            btn-success btn-sm">Machine Learning</a>
          <a href="##" data-filter=".js-id-Computer-Vision" class="btn
            btn-success btn-sm">Computer Vision</a>
          <a href="##" data-filter=".js-id-Featured💡" class="btn
            btn-success btn-sm active">Featured💡</a>
          <a href="##" data-filter=".js-id-Course-based" class="btn
            btn-success btn-sm">Course-based</a>
        </div>
      </div>
    </div>
  </div>





  <div id="containers" class="isotope projects-container row js-layout-row
    project-showcase mt-4">


    <div class="col-lg-12 project-item isotope-item js-id-Robotics
      js-id-Machine-Learning js-id-Featured💡">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Monocular Visual
            Odometry Pipeline</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="#"
              target="_blank" rel="noopener">
              PDF
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/hibetterheyj/Visual-Odometry-Pipeline?organization=hibetterheyj&amp;organization=hibetterheyj"
              target="_blank" rel="noopener">
              Code
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://www.youtube.com/playlist?list=PLisWEer2ynw1Ws1_km6y-xXDAIyvJ9weM"
              target="_blank" rel="noopener">
              Video
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            Implementation of a working, simple, monocular visual odometry
            (VO) pipeline in Matlab
            Implemented the automatic collection and cleaning of images based on
            MOG2 algorithm.
            Deployed and trained YOLOv5 to achieve quick waste classification.
            Achieved planning for robot arm to pick toss waste on dynamic
            conveyor belt.
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">



          <a href="/project/2022-visual-odometry/">
            <img
              src="/assets/img/12.gif" width="270"
              itemprop="image" alt="">
          </a>

        </div>
      </div>
    </div>

    <div class="col-lg-12 project-item isotope-item js-id-Robotics">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Monocular Visual
            Odometry Pipeline</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="#"
              target="_blank" rel="noopener">
              PDF
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/hibetterheyj/Visual-Odometry-Pipeline?organization=hibetterheyj&amp;organization=hibetterheyj"
              target="_blank" rel="noopener">
              Code
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://www.youtube.com/playlist?list=PLisWEer2ynw1Ws1_km6y-xXDAIyvJ9weM"
              target="_blank" rel="noopener">
              Video
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            Implementation of a working, simple, monocular visual odometry
            (VO) pipeline in Matlab
            Implemented the automatic collection and cleaning of images based on
            MOG2 algorithm.
            Deployed and trained YOLOv5 to achieve quick waste classification.
            Achieved planning for robot arm to pick toss waste on dynamic
            conveyor belt.
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">



          <a href="/project/2022-visual-odometry/">
            <img
              src="/assets/img/12.gif" width="270"
              itemprop="image" alt="">
          </a>

        </div>
      </div>
    </div>

  </div>


  <br><br>
  <table class="projects">
    <tbody>
      <!-- ! Agile Waste Sorting with Tossing -->
      <tr>
        <td>
          <video src="#" width="250"
            controls="controls" muted="muted"></video>
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Agile Waste Sorting with Tossing</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/ME336-Yellow-Team-Project"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            Implemented the automatic collection and cleaning of images based on
            MOG2 algorithm.
            Deployed and trained YOLOv5 to achieve quick waste classification.
            Achieved planning for robot arm to pick toss waste on dynamic
            conveyor belt.
          </p>
        </td>
      </tr>
      <!-- ! NMT with Transformer on Multi30K -->
      <tr>
        <td>
          <img
            src=https://raw.githubusercontent.com/silvery107/nmt-multi30k-pytorch/main/images/tuning.png
            width="250">
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>NMT with Transformer on Multi30K</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/nmt-multi30k-pytorch"
              target="_blank">
              Code
            </a>]
            <br>
            Implemented a Transformer architecture to realize a full attention
            neural network that learns to
            translate German to English. The best model gains a BLEU score up to
            37.39, when the minimum
            frequency of words is selected to be 3.
          </p>
        </td>
      </tr>
      <!-- ! Tractor Autonomous Steering Simulation -->
      <tr>
        <td>
          <img
            src=https://raw.githubusercontent.com/silvery107/ND-agjunction-webots/main/docs/images/tractor_proto.png
            width="250">
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Tractor Autonomous Steering Simulation</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/ND-agjunction-webots"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            Developed a medium-fidelity model of two tractors in Webots and
            implemented the tractor model and
            the control
            algorithm in Webots, including four-wheel steering capability, body
            suspension and sensors.
            This project is collaborated with SUSTech, ND and AgJunction Inc.
          </p>
        </td>
      </tr>
      <!-- ! Segway Locomotion -->
      <tr>
        <td>
          <img
            src=https://raw.githubusercontent.com/silvery107/segway-locomotion-stm32/main/images/image2.png
            width="250">
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Segway Locomotion</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/segway-locomotion-stm32"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            This project is the locomotion control for a Segway robot with
            STM32F1.
            We implemented balance control, speed control, steering control
            method for the Segway robot
            together with the Bluetooth debugging function.
          </p>
        </td>
      </tr>
      <!-- ! HCI Gesture Control -->
      <tr>
        <td>
          <video src="#" width="250"
            controls="controls" muted="muted"></video>
          <!-- <img src=https://raw.githubusercontent.com/silvery107/hci-gesture-control/main/images/demo.png width="250"> -->
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>HCI Gesture Control</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/hci-gesture-control"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            Used the watershed algorithm to realize skin color image
            segmentation, implemented gesture
            recognition
            by template matching, and implemented the gesture interaction with
            mouse and keyboard based on
            <em>Win32
              API</em>.
          </p>
        </td>
      </tr>
      <!-- ! Fast Photo Mosaic -->
      <tr>
        <td style="border: none;">
          <img
            src=https://github.com/silvery107/fast-photo-mosaic/raw/main/images/mixed.png
            width="250">
        </td>
        <td valign="top" align="left" style="border: none;">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Fast Photo Mosaic</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/fast-photo-mosaic"
              target="_blank">
              Code
            </a>]
            <br>
            Designed a feature descriptor based on the mean histogram of the LAB
            color space, used the
            pre-computed feature pool to optimize the synthesis speed, and
            realized the mosaic photo that has
            better performance than Foto-Mosaik-Edda.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>